:root {
    --main-color: #FF4605;
    --white: #fff;
    --black: #141622;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* -----------------------------------------------------header---------------------------------------- */
    header .inside-box {
        clip-path: polygon(5% 0%, 95% 0%, 99% 100%, 1% 100%);
    }

    header .inside-box .col1 {
        margin-left: 70px;
    }

    header .inside-box .col2 {
        margin-right: 70px;
    }

    /* --------------------------------------------nav------------------------ */
    nav .nav-section-2 .nav-opt {
        position: relative;
    }

    nav {
        justify-content: space-between;
    }

    #section3 .row1 {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
        color: var(--black);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: none;
    }

    .show {
        display: block !important;
    }

    nav {
        justify-content: space-between;
        padding: 16px !important;

    }

    .nav-section-2 .nav-opt {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 4.3rem !important;
        left: 0%;
        gap: 0px;
        box-shadow: 0 0px 10px #bebebe80;
        width: 100%;
        z-index: 1000;
        background-color: var(--white);
        display: none;
        margin-top: 0 !important;
    }

    nav .nav-section-2 .nav-opt .drop-down {
        position: sticky;
        left: 0px;
        top: -3rem;
    }

    .nav-section-3 #bar {
        display: block;
    }

    /* --------------------------------------------section2--(Market)--------------------------------------- */

    #section3 .row1 {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
        color: var(--black);
    }
}

@media screen and (max-width: 480px) {
    nav {
        justify-content: space-between;
        padding: 16px !important;

    }

    .show {
        display: block !important;
    }

    header {
        display: none;
    }

    .nav-section-1 {
        width: 8rem;
    }

    .nav-section-2 .nav-opt {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 3.5rem;
        left: 0%;
        gap: 0px;
        box-shadow: 0 0px 10px #bebebe80;
        width: 100%;
        z-index: 1000;
        background-color: var(--white);
        display: none;
        margin-top: 0 !important;
    }

    nav .nav-section-2 .nav-opt .drop-down {
        position: sticky;
        left: -3.5px;
        top: 9rem;
    }

    .nav-section-3 #bar {
        display: block;
    }

    #section2 .col img {
        height: auto !important;
    }
}

@media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
        transition: transform 100ms;
    }

    .swiper-slide:first-child img {
        transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(50%);
        z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
        box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
        transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(55%);
        z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
    }
}

/* ------------------------------------------footer------------------------------------------ */
@media only screen and (min-width: 760px) and (max-width:900px) {
    footer .foot {
        width: 50%;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width:600px) {
    footer .f {
        padding: 0 5px;
    }

    footer .f-3 {
        margin-top: 20px;
    }
}