:root {
    --main-color: #FF4605;
    --white: #fff;
    --black: #141622;
}

/* ---------------------------------------------Home-section1-slider---------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1160px) {

    #section1 .slide {
        display: block;
        height: auto;
        padding: 5px 5rem;
    }

    #section1 .slide .col-2 img {
        margin-top: -13rem;
        height: 25rem;
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* -----------------------------------------------------header---------------------------------------- */
    header .inside-box {
        clip-path: polygon(5% 0%, 95% 0%, 99% 100%, 1% 100%);
    }

    header .inside-box .col1 {
        margin-left: 70px;
    }

    header .inside-box .col2 {
        margin-right: 70px;
    }

    /* --------------------------------------------nav------------------------ */
    nav .nav-section-2 .nav-opt {
        position: relative;
    }

    nav {
        justify-content: space-between;
    }

    /* --------------------------------------------section2--(Market)--------------------------------------- */
    #section2 .row1,
    #section3 .row1 {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
        color: var(--black);
    }

    svg {
        height: 50px;
        width: 50px;
    }

    #section2 .row2 {
        display: flex;
        width: 100%;
    }

    #section2 .row2 .col {
        padding: 1rem;
        width: 100%;
    }

    #section2 .row2 .col h1 {
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    #section2 .row2 .col p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: none;
    }

    .show {
        display: block !important;
    }

    nav {
        justify-content: space-between;
        padding: 10px;

    }

    .nav-section-2 .nav-opt {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 3.5rem;
        left: 0%;
        gap: 0px;
        box-shadow: 0 0px 10px #bebebe80;
        width: 100%;
        z-index: 1000;
        background-color: var(--white);
        display: none;

    }

    nav .nav-section-2 .nav-opt .drop-down {
        position: sticky;
        left: 0px;
        top: -3rem;
    }

    .nav-section-3 #bar {
        display: block;
    }


    /* ------------------------------------------Home-section1-slider----------------------------------------------  */
    #section1 .slide {
        display: block;
        height: auto;
        padding: 5px 2rem;
    }

    #section1 .slide .col-2 img {
        margin-top: -13rem;
        height: 25rem;
        width: 100%;
    }

    #section1 .slide .col-1 h4 {
        font-size: 1.5rem;

    }

    #section1 .slide .col-1 h1 {
        font-size: 2rem;
        letter-spacing: 1.5px;
    }

    /* --------------------------------------------section2--(Market)--------------------------------------- */
    #section2 .row1,
    #section3 .row1,
    #section4 .row1 {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
        color: var(--black);
    }

    #section2 .row2 {
        display: flex;
        flex-direction: column !important;
    }

    svg {
        height: 50px;
        width: 50px;
    }

    #section2 .row2 .col {
        padding: 1rem;
        text-align: center;
        width: 100% !important;
    }


    #section2 .row2 .col h1 {
        padding: 1.2rem 0;
        font-size: 1.5rem;
        color: var(--black);
    }
}

@media screen and (max-width: 480px) {
    nav {
        justify-content: space-between;
        padding: 10px;
    }

    .show {
        display: block !important;
    }

    header {
        display: none;
    }

    .nav-section-1 {
        width: 8rem;
    }

    .nav-section-2 .nav-opt {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2.71rem;
        left: 0%;
        gap: 0px;
        box-shadow: 0 0px 10px #bebebe80;
        width: 100%;
        z-index: 1000;
        background-color: var(--white);
        display: none;
    }

    nav .nav-section-2 .nav-opt .drop-down {
        position: sticky;
        left: -3.5px;
        top: 9rem;
    }

    .nav-section-3 #bar {
        display: block;
    }

    #section4 .row1 {
        font-size: 1rem;
    }

    /* ---------------------------Home-section1-slider-----------------------------  */
    #section1 .slide {
        display: block;
        height: auto;
        padding: 1rem;
    }

    #section1 .slide .col-2 img {
        margin-top: -13rem;
        height: 20rem;
        width: 100%;
    }

    #section1 .slide .col-1 h4 {
        font-size: 1rem;
    }

    #section1 .slide .col-1 h1 {
        font-size: 2rem;
        letter-spacing: 1.5px;
    }

    #section1 .slide .col-1 p {
        letter-spacing: 0.5px;
        font-size: 1rem;
    }

    /* --------------------------------------------section2--(Market)--------------------------------------- */
    #section2 .row1,
    #section3 .row1 {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
    }

    #section2 .row2 {
        display: block;
    }

    svg {
        height: 50px;
        width: 50px;
    }

    #section2 .row2 .col {
        padding: 1rem;
        text-align: center;
        width: 100% !important;
    }

    #section2 .row2 .col h1 {
        padding: 1.2rem 0;
        font-size: 1.5rem;
    }

    #section2 .row2 .col p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

/* ------------------------------------------footer------------------------------------------ */
@media only screen and (min-width: 760px) and (max-width:900px) {
    footer .foot {
        width: 50%;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width:600px) {
    footer .f {
        padding: 0 5px;
    }

    footer .f-3 {
        margin-top: 20px;
    }
}

@media only screen and (max-width:480px) {
    footer .foot {
        margin-top: 20px;
    }
}